@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

$element-gap: 2rem;

.exposure-interface .ddl-pool-page {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  align-items: flex-start;

  //&__config-card {
  //  width: 648px;
  //}

  &__header {
    margin-bottom: 1.5rem;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;

    &--back-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: start;
      padding: 8px;
    }

    &--name {
      margin: auto;
    }
  }

  &__content {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    .oracle-radio {
      margin-left: 125px;
      margin-top: 8px;
      input:nth-child(2) {
        margin-left: 20px;
      }
    }

    .switch-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-left: 122px;
      .bi-arrow-repeat {
        margin-left: 5px;
      }
    }

    &--lable {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    &--icon-and-name {
      display: flex;
      align-items: center;

      &>*:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &--dtoken {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .dtoken-group {
        display: flex;
        align-items: center;
        .sign-btn {
          width: 23px;
          height: 24px;
          padding: 4px 8px;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          display: inline-flex;
          position: relative;
          top: -9px;
        }
        .power-select {
          padding: 8px;
          border: 1px solid #353945;
          .hidden {
            display: none;
          }
        }
        .power-input {
          width: 53px;
          height: 24px;
          padding: 4px 7px;
          display: inline-flex;
          position: relative;
          top: -7px;
          input::placeholder {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
          }
        }
        .del-btn {
          width: 24px;
          height: 24px;
          padding: 7.33px;
          display: inline-flex;
          position: relative;
        }
      }
      .right-group {
        display: flex;
        .dropdown-btn {
          justify-content: space-between;
          align-items: center;
          width: 86px;
          height: 40px;
          font-size: 13px;
          font-weight: 500;
          line-height: 16px;
          padding: 12px;
          display: flex;
        }
        .add-btn {
          width: 40px;
          height: 40px;
          display: flex;
          padding: 8px;
        }
      }
    }

    &--dtoken-list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      flex-flow: row wrap;
      .dtoken-group {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        .sign-btn {
          width: 23px;
          height: 24px;
          padding: 4px 8px;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          display: inline-flex;
          position: relative;
          top: -9px;
        }
        .power-select {
          padding: 8px;
          border: 1px solid #353945;
          .hidden {
            display: none;
          }
        }
        .power-input {
          width: 53px;
          height: 24px;
          padding: 4px 7px;
          display: inline-flex;
          position: relative;
          top: -7px;
          input::placeholder {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
          }
        }
        .del-btn {
          width: 24px;
          height: 24px;
          padding: 7.33px;
          display: inline-flex;
          position: relative;
        }
      }
    }

    &--pool-config {
      //.config-item {
      //  display: flex;
      //  justify-content: space-between;
      //  align-items: center;
      //  .add-btn {
      //    width: 40px;
      //    height: 40px;
      //    display: flex;
      //    padding: 8px;
      //  }
      //  .warning-input {
      //    border-color: orange;
      //  }
      //  .error-input {
      //    border-color: red;
      //  }
      //}
      .config-input {
        width: 416px;
      }
    }

    &--pool-info {
      .info-list {
        padding: 24px;
        .info-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    &--balance {
      cursor: pointer;
    }

    .create-btn {
      width: 100%;
      height: 56px;
    }
  }

}
