@import "src/styles/abstracts/variables";

.oracle-config {
  &-box {
    position: relative;
    padding: 1.5rem;
  }

  &__select-token-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
  }

  &__select-fee-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;

    .btn-select-fee {
      &.active {
        background: $color-buy;
      }
    }
  }

  &__title {
    position: absolute;
    display: block;
    transform: translateY(calc(-50% - 1.5rem));
    left: 2rem;
    padding: 0.5rem;
    background: $color-card-bg;
  }
}

.grid {
  &-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
}