@import "src/styles/abstracts/variables";


.ddl-pool-page .oracle-config {
  &__token-wrap {
    border-radius: 32px;
    padding: 1rem;
    border: 1px solid rgb(54, 54, 54);
    transition: 0.2s;
    text-align: center;
    gap: 8px;
    align-items: center;
  }
  &__token {
    display: inline-flex;
    width: fit-content;
    vertical-align: middle;
    gap: 8px;
    align-items: center;
  }
  &-box {
    position: relative;
    width: 50%;
    margin-left: 25%;
    padding: 1.5rem;
  }

  &__select-token-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
  }

  &__select-fee-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;

    .btn-select-fee {
      &.active {
        background: $color-buy;
      }
    }
  }

  &__title {
    position: absolute;
    display: block;
    transform: translateY(calc(-50% - 1.5rem));
    left: 2rem;
    padding: 0.5rem;
    background: $color-card-bg;
  }
}
.config-input-oracle-config{
  width: 100% !important;
}
.grid {
  &-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
}
